# Modify DataFrames and Useful functions
- calculate with columns
- create new columns
- drop columns
- min, max, argmin, and argmax
- mean

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("AAPL.csv", index_col=0, parse_dates=True)

In [4]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-06-28,133.410004,135.250000,133.350006,134.779999,134.014343,62111300
2021-06-29,134.800003,136.490005,134.350006,136.330002,135.555542,64556100
2021-06-30,136.169998,137.410004,135.869995,136.960007,136.181961,63261400
2021-07-01,136.600006,137.330002,135.759995,137.270004,136.490204,52485800
2021-07-02,137.899994,140.000000,137.750000,139.960007,139.164932,78852600

In [6]:
data['Daily chg'] = data['Close'] - data['Open']

In [7]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,Daily chg
Date,,,,,,,
2021-06-28,133.410004,135.250000,133.350006,134.779999,134.014343,62111300,1.369995
2021-06-29,134.800003,136.490005,134.350006,136.330002,135.555542,64556100,1.529999
2021-06-30,136.169998,137.410004,135.869995,136.960007,136.181961,63261400,0.790009
2021-07-01,136.600006,137.330002,135.759995,137.270004,136.490204,52485800,0.669998
2021-07-02,137.899994,140.000000,137.750000,139.960007,139.164932,78852600,2.060013

In [8]:
data['Normalized'] = data['Close'] / data['Close'].iloc[0]

In [9]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,Daily chg,Normalized
Date,,,,,,,,
2021-06-28,133.410004,135.250000,133.350006,134.779999,134.014343,62111300,1.369995,1.000000
2021-06-29,134.800003,136.490005,134.350006,136.330002,135.555542,64556100,1.529999,1.011500
2021-06-30,136.169998,137.410004,135.869995,136.960007,136.181961,63261400,0.790009,1.016175
2021-07-01,136.600006,137.330002,135.759995,137.270004,136.490204,52485800,0.669998,1.018475
2021-07-02,137.899994,140.000000,137.750000,139.960007,139.164932,78852600,2.060013,1.038433

In [10]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume,Daily chg,Normalized
Date,,,,,,,,
2022-06-17,130.070007,133.080002,129.809998,131.559998,131.559998,134118500,1.489991,0.976109
2022-06-21,133.419998,137.059998,133.320007,135.869995,135.869995,81000500,2.449997,1.008087
2022-06-22,134.789993,137.759995,133.910004,135.350006,135.350006,73409200,0.560013,1.004229
2022-06-23,136.820007,138.589996,135.630005,138.270004,138.270004,72433800,1.449997,1.025894
2022-06-24,139.899994,141.910004,139.770004,141.660004,141.660004,89047400,1.760010,1.051046

In [11]:
data['Close'].min()

130.059998

In [12]:
data.min()

Open          1.300700e+02
High          1.323900e+02
Low           1.290400e+02
Close         1.300600e+02
Adj Close     1.300600e+02
Volume        4.100000e+07
Daily chg    -7.080002e+00
Normalized    9.649800e-01
dtype: float64

In [13]:
data['Close'].argmin()

245

In [15]:
data.iloc[35:44]

,Open,High,Low,Close,Adj Close,Volume,Daily chg,Normalized
Date,,,,,,,,
2021-08-17,150.229996,151.679993,149.089996,150.190002,149.560562,92229700,-0.039994,1.114334
2021-08-18,149.800003,150.720001,146.149994,146.360001,145.746597,86326000,-3.440002,1.085918
2021-08-19,145.029999,148.000000,144.500000,146.699997,146.085190,86960300,1.669998,1.088440
2021-08-20,147.440002,148.500000,146.779999,148.190002,147.568939,60549600,0.750000,1.099495
2021-08-23,148.309998,150.190002,147.889999,149.710007,149.082581,60131800,1.400009,1.110773
2021-08-24,149.449997,150.860001,149.149994,149.619995,148.992935,48606400,0.169998,1.110105
2021-08-25,149.809998,150.320007,147.800003,148.360001,147.738205,58991300,-1.449997,1.100757
2021-08-26,148.350006,149.119995,147.509995,147.539993,146.921661,48597200,-0.810013,1.094673
2021-08-27,147.479996,148.750000,146.830002,148.600006,147.977219,55802400,1.120010,1.102538

In [16]:
data['Normalized'].min()

0.9649799596748773

In [17]:
data['Normalized'].argmin()

245

In [18]:
data['Close'].max()

182.009995

In [19]:
data['Close'].argmax()

131

In [21]:
data.iloc[131:]

,Open,High,Low,Close,Adj Close,Volume,Daily chg,Normalized
Date,,,,,,,,
2022-01-03,177.830002,182.880005,177.710007,182.009995,181.511703,104487900,4.179993,1.350423
2022-01-04,182.630005,182.940002,179.119995,179.699997,179.208038,99310400,-2.930008,1.333284
2022-01-05,179.610001,180.169998,174.639999,174.919998,174.441116,94537600,-4.690003,1.297819
2022-01-06,172.699997,175.300003,171.639999,172.000000,171.529129,96904000,-0.699997,1.276154
2022-01-07,172.889999,174.139999,171.029999,172.169998,171.698654,86709100,-0.720001,1.277415
...,...,...,...,...,...,...,...,...
2022-06-17,130.070007,133.080002,129.809998,131.559998,131.559998,134118500,1.489991,0.976109
2022-06-21,133.419998,137.059998,133.320007,135.869995,135.869995,81000500,2.449997,1.008087
2022-06-22,134.789993,137.759995,133.910004,135.350006,135.350006,73409200,0.560013,1.004229
2022-06-23,136.820007,138.589996,135.630005,138.270004,138.270004,72433800,1.449997,1.025894
2022-06-24,139.899994,141.910004,139.770004,141.660004,141.660004,89047400,1.760010,1.051046

In [22]:
data['Close'].mean()

156.19533899601595

In [42]:
data.head()

                  Open       Close  Daily chg  Normalized
Date
2021-06-28  133.410004  134.779999   1.369995    1.000000
2021-06-29  134.800003  136.330002   1.529999    1.011500
2021-06-30  136.169998  136.960007   0.790009    1.016175
2021-07-01  136.600006  137.270004   0.669998    1.018475
2021-07-02  137.899994  139.960007   2.060013    1.038433